:root {
    --primary-text-color: #3D087C;
    --secondary-text-color: #1F1F1F;
    --black-text-color: #000000;
    --accent-color: #FC7C3C;
    --secondary-accent-color: #FFF6EF;
    --primary-white-color: #FCFDFA;
    --primary-grey-color: #BFBFBF;
    --secondary-grey-color: #989898;
}

body {
    font-family: "Roboto", sans-serif;
    background-image: url(../images/bgImage.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: clip;
    max-width: 100vw;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 40px;

    @media (min-width: 414px) {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 60px;
    }

    @media (min-width: 768px) {
        padding-top: 100px;
    }
}

/* step 1 */
.hero-step-one {
    width: 100%;
    padding: 40px 27px;
    border-radius: 30px;
    background-color: var(--primary-white-color);

    @media (min-width: 414px) {
        width: 334px;
    }
}

.hero-step-one__title {
    font-size: 20px;
    color: var(--primary-text-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;
    font-weight: 500;

    @media (min-width: 414px) {
        font-size: 23px;
    }
}

.hero-step-one__title__span {
    color: var(--accent-color);
}

.hero-step-one__icons-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.hero-step-one__text {
    font-weight: 400;
    font-size: 12px;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    text-align: center;
    margin-top: 24px;
}

.hero__button {
    width: 100%;
    height: 48px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    border-radius: 99px;
    text-align: center;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
        background-color: #C04203;
    }

    &:disabled {
        opacity: 0.7;
    }
}

.hero__button--margin {
    margin-top: 32px;
}

/* step 2 */
.hero-step-two {
    width: 100%;
    padding: 40px 27px;
    border-radius: 30px;
    background-color: var(--primary-white-color);

    @media (min-width: 414px) {
        width: 334px;
    }
}

.hero-step-two__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-step-two__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    color: var(--primary-text-color);
    text-align: center;
}

.hero-step-two__wrapper__date-box-overlay {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}

.hero-step-two__wrapper__date-box {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 16px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid var(--secondary-text-color);

    @media (min-width: 414px) {
        gap: 10px;
    }
}

.hero-step-two__wrapper__date-box--gap {
    justify-content: space-between;
}

.hero-step-two__wrapper__date-box__title {
    font-weight: 400;
    font-size: 14px;
    color: var(--primary-grey-color);

    @media (min-width: 414px) {
        font-size: 16px;
    }
}

.hero-step-two__wrapper__bottom {
    display: flex;
    align-items: center;
    gap: 4px;
}

.hero-step-two__wrapper__bottom__text {
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-grey-color);

}

/* step 3 */
.hero-step-three {
    width: 100%;
    height: 400px;
    padding: 40px 27px;
    border-radius: 30px;
    background-color: var(--primary-white-color);

    @media (min-width: 414px) {
        width: 334px;
        height: 462px;
    }
}

.hero-step-three__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: var(--primary-text-color);
    text-align: center;
    margin-bottom: 24px;

    @media (min-width: 414px) {
        margin-bottom: 32px;
    }
}

.hero-step-three__loader__box {
    position: relative;
    margin: 0 auto;
    margin-bottom: 32px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid rgba(252, 124, 60, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 414px) {
        width: 124px;
        height: 124px;
    }
}

.hero-step-three__loader__box--filled {
    position: absolute;
    top: -4px;
    left: -5px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid var(--accent-color);
    clip-path: polygon(50% 50%, 100% 0%, 100% 101%, 50% 50%, 0% 25%);
    transform: rotate(-46deg);

    @media (min-width: 414px) {
        width: 124px;
        height: 124px;
    }
}

.hero-step-three__loader__box--filled-four {
    clip-path: none;
}

.hero-step-three__loader__text {
    font-weight: 400;
    font-size: 24px;
    color: var(--primary-text-color);
}

.hero-step-three__text__box {
    display: flex;
    align-items: center;
    gap: 4px;
}

.hero-step-three__text {
    font-weight: 400;
    font-size: 12px;
    color: var(--secondary-text-color);
    text-transform: uppercase;
}

.hero-step-three__image {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 24px;

    @media (min-width: 414px) {
        width: 124px;
        height: 124px;
        margin-bottom: 32px;
    }
}

.hero-step-three__box--margin {
    margin-bottom: 12px;
}

/* step 4 */
.hero-step-four {
    width: 100%;
    height: 400px;
    padding: 40px 27px;
    border-radius: 30px;
    background-color: var(--primary-white-color);

    @media (min-width: 414px) {
        width: 334px;
        height: 462px;
    }
}

.hero-step-four__button {
    width: 100%;
    padding: 12px 24px;
    color: var(--black-text-color);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--secondary-accent-color);
    border-radius: 99px;
    border: 1px solid var(--accent-color);
    margin-top: 24px;

    @media (min-width: 414px) {
        margin-top: 32px;
    }
}

/* step 5 */
.hero-step-five {
    width: 100%;
    border-radius: 30px;
    background-color: var(--primary-white-color);
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 24px;

    @media (min-width: 414px) {
        padding: 40px 27px;
        width: 334px;
    }
}

.hero-step-five__image-box {
    position: relative;
    width: 100%;
    margin-bottom: 8px;

    @media (min-width: 414px) {
        border-radius: 20px;
        border: 1px solid #EFEFEF;
        margin-bottom: 16px;
        padding-bottom: 36px;
    }

}

.hero-step-five__image-box-text {
    position: absolute;
    font-weight: 400;
    font-size: 9px;
    text-transform: uppercase;
    text-align: end;
    color: var(--accent-color);
}

.hero-step-five__image-box-text--first {
    top: 50px;
    right: 10px;
}

.hero-step-five__image-box-text--second {
    top: 131px;
    right: 29px;
}

.hero-step-five__image-box-text--third {
    bottom: 41px;
    right: 84px;

    @media (min-width: 414px) {
        bottom: 77px;
    }
}

.hero-step-five__text {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8px;

    @media (min-width: 414px) {
        margin-bottom: 16px;
    }
}